
<div class="topic_add">
    <form  ng-controller="AddTopicCtrl" method="POST" ng-submit="submit()" >
    <div class="topic_add_title">发布话题</div>
    <div>
        <p>标题</p>
        <input type="text" class="topic_add_title_txt" ng-model="topic.tp_title" alt="输入...">
        <hr>
        <div>
            关于: &nbsp; &nbsp;
            <select ng-model="topic.tp_about" >
                <option ng-repeat="country in countries">{{country.c_name}}</option>
            </select>
        </div>
    </div>
    <div class="topic_content_reply" style="margin-top: 10px;">
            <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
            <button class="topic_add_btn" type="submit">回复</button>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
    </div>

    </form>
</div>