
<div class="activities">

    <div class="activities-list">
        <div class="activities-list-wrap">
            <a><h4>An explore in San Diego !!! A lot of discovery! come and join us tonight!</h4></a>
            <div>Published at 2017-02-07 08:59:58</div>
        </div>
        <div class="activities-list-wrap">
            <a><h4>A unity group cycling between March 12 - March 15 2017, Come and Join! It will be FUNNNNN...</h4></a>
            <div>Published at 2017-02-07 08:59:58</div>
        </div>

    </div>

</div>