
<div class="intro-ruby">
    红宝石的英文名称为Ruby，源于拉丁文 Ruber，意思是红色。红宝石的日文名称为ルビー。红宝石的矿物名称为刚玉。（注：除红宝石外，其他颜色的刚玉都属于蓝宝石。如粉红色刚玉被称为粉红色蓝宝石）只有由Cr致色的红色的刚玉才能够叫做红宝石。而粉红色的刚玉不是Cr致色的。
    <div class="intro-ruby-img">
        <img src="images/ruby.jpg">
    </div>

    <h3>象征意义</h3>
    <div>
        红宝石在圣经中红宝石是所有宝石中最珍贵的。红宝石炙热的红色使人们总把它和热情、爱情联系在一起，被誉为“爱情之石”，象征着热情似火，爱情的美好、永恒与坚贞。红宝石是七月的生辰石。不同色泽的红宝石，来自不同的国度，却同样意味着一份吉祥。红色永远是美的使者，红宝石更是将祝愿送予他人的最佳向导。红宝石的红色之中，最具价值的是颜色最浓、被称为“鸽血红”的宝石。这种几乎可称为深红色的鲜艳、强烈色彩，更把红宝石的真面目表露的一览无余。遗憾的是大部分红宝石颜色都是呈淡红色，并且有粉红的感觉，因此带有鸽血色调的红宝石就更显得有价值。由于红宝石弥漫着一股强烈的生气和浓艳的色彩，以前的人们认为它是不死鸟的化身，对其产生了热烈的幻想。
        人们钟爱红宝石，把它看成爱情、热情和品德高尚的代表，光辉的象征。传说佩戴红宝石的人将会健康长寿、爱情美满、家庭和谐。国际宝石界把红宝石定为"七月生辰石"，是高尚、爱情、仁爱的象征。在欧洲，王室的婚庆上，依然将红宝石作为婚姻的见证。国际宝石市场上把鲜红色的红宝石称为“男性红宝石”，把淡红色的称为“女性红宝石”。男人拥有红宝石，就能掌握梦寐以求的权力，女人拥有红宝石，就能得到永世不变的爱情。
        血红色的红宝石最受人们珍爱，俗称“鸽血红”。其颜色鲜红、美艳，可以称得上是“红色宝石之冠”。瑰丽、华贵的红宝石是宝石之王，是宝中之宝，其优点超过所有的宝石。有的古书中认为红宝石是“上帝创造万物时所创造的十二种宝石中最珍贵的
    </div>
</div>