
<div class="intro-sapphire">
    蓝宝石英文名称为Sapphire，源于拉丁文Spphins，意思是蓝色。属于刚玉族矿物，三方晶系。宝石界将红宝石之外的各色宝石级刚玉都称为蓝宝石。蓝宝石的矿物名称为刚玉，属刚玉族矿物。实际上自然界中的宝石级刚玉除红色的称红宝石外，其余各种颜色如蓝色、淡蓝色、绿色、黄色、灰色、无色等，均称为蓝宝石，或称为彩蓝宝石，即在蓝宝石前加上颜色名，如粉蓝宝石。蓝宝石的化学成分（Al₂O₃），主要以Fe、Ti、致色。刚玉中因含有铁（Fe）和钛（Ti）等微量元素，而呈现蓝、天蓝、淡蓝等颜色，其中以为浓而不黑的皇家蓝色和矢车菊色最好。在弧面型切磨，内部富含与底面平行并定向排列的三组包体时，可以产生美丽的六射星光时，被称为"星光蓝宝石"
    <div class="intro-sapphire-img">
        <img src="images/Sapphire.jpg">
    </div>
    <h3>象征意义</h3>
    <div>
        蓝宝石象征忠诚、坚贞、慈爱和诚实。星光蓝宝石又被称为“命运之石”，能保佑佩戴者平安，并让人交好运。蓝宝石属高档宝石，是五大宝石之一，位于钻石、红宝石之后，排名第三。蓝宝石是9月和秋季的生辰石，它与红宝石有“姊妹宝石”之称。
        美丽的蓝宝石
        美丽的蓝宝石(5张)
        蓝宝石以其晶莹剔透的美丽颜色，被古代人们蒙上神秘的超自然的色彩，被视为吉祥之物。早在古埃及、古希腊和古罗马，被用来装饰清真寺、教堂和寺院，并作为宗教仪式的贡品。它也曾与钻石、珍珠一起成为英帝国国王、俄国沙皇皇冠上和礼服上不可缺少的饰物。自从近百年宝石进入民间以来，蓝宝石分别跻身于世界五大珍辰石之列，是人们珍爱的宝石品种。
        世界宝石学界定蓝宝石为九月的生辰石。日本人选其作为结婚23周年（蓝宝石）、26周年（星光蓝宝石）的珍贵纪念品。
    </div>

</div>