<div>
    <div class="profile_top-edit">
        <div class="profile_top-edit-info">
            <p><span class="profile_top-edit-info-name">{{userProfile[0].u_name}}</span></p>
            <button ng-click="editProfileBtn()">编辑</button>
        </div>
    </div>



    <div>
    <div class="profile_middle">
        <div class="profile_middle-point" ng-click="profileFootsteps(userProfile[0].u_id)">
            {{userProfile[0].footsteps}}<br>足迹</div>
        <div class="profile_middle-point" ng-click="profileSticks(userProfile[0].u_id)">
            {{userProfile[0].sticks}}<br>
            收藏
        </div>
        <div class="profile_middle-point" ng-click="profileFollows(userProfile[0].u_id)">
            {{userProfile[0].follows}}<br>
            我的关注
        </div>
        <div class="profile_middle-point" ng-click="profileFans(userProfile[0].u_id)">
            {{userProfile[0].fans}}<br>
            粉丝
        </div>
    </div>

    </div>

<div style="min-height: 400px;">
    <div id="footstep-list" class="footstep-list" infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-disabled="isbusy" infinite-scroll-immediate-check="false">
        <div class="profile_down-create" ng-click="createBtn()">添加图片</div>
        <div id="footstep-list-div" class="footstep-list-div" ng-repeat="result in footsteps" >
            <div class="footstep-list-div-pic">
                <!--<div class="footstep_div-pic" style="background-image: url({{result.fs_pic}});">-->
               <a href="#/foot/{{result.fs_id}}"> <img ng-src="{{result.fs_smallImg}}" style="border-radius: 2%; min-height: 200px; width: 100%; height: 100%; cursor: zoom-in;"></a>
            </div>
            <span class="footstep-list-div-createTime">{{result.fs_create_time}}</span>
            <!--<hr>-->
            <div class="footstep-list-div-desc">
                <div>
                    <p>{{result.fs_des}}</p>
                    <p style="color: grey;">{{result.fs_from}}</p>
                    <div>
                        <button class="stick-footstep" ng-click="stickBtn(result.fs_id)">收藏</button>&nbsp;&nbsp;{{result.sticks}}
                        <button class="like-footstep" ng-click="likeBtn(result.fs_id)">喜欢</button>&nbsp;&nbsp;{{result.likes}}
                    </div>
                </div>
            </div>

            <div class="footstep-list-div-comment" ng-if="result.cm_content">
                <div class="footstep-list-div-comment-avatar">
                    <img ng-src="{{result.u_avatar}}" class="footstep-list-div-comment-avatar-img">
                </div>
                <div>
                    <div>{{result.u_name}}</div>
                    <div style="overflow-wrap: break-word;" ng-bind-html="result.cm_content"></div>
                </div>
            </div>
        </div>
        <div class="footstep-list_profile_end"></div>
    </div>


    <div class="follow-list">
        <div ng-repeat="result in results">
            <div class="follow-list-div-comment-avatar">
                <img ng-src="{{result.u_avatar?result.u_avatar:'../../img/default_icon.png'}}" class="follow-list-div-comment-avatar-img" title="{{result.u_name}}">
            </div>
        </div>
    </div>
</div>


</div>