
<div class="welcome" id="welcome_pc">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" ng-repeat="item in items">
                <div class="wel_image" style="background-image: url({{item.src}}); background-position-x: {{item.position}}; padding:{{item.padding}}" >
                    <h3>
                        {{item.title}}
                    </h3>
                    <p>
                        {{item.content}}
                    </p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" style="background-color: gray; bottom: 0;"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>


<!-- Swiper JS -->
<script src="../js/common/swiper-3.3.1.jquery.min.js"></script>

<!-- Initialize Swiper -->
<script>

    $(function(){
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 7000,
            observer: true,
            observerParents: true,
            autoplayDisableOnInteraction: false
        });
    });
</script>