<div class="welcome">
    <div class="welcome_header">
        <h3>
            分享图片, 交流经验, 寻找伙伴
        </h3>
        <p>

            上传, 管理, 分享, 评论, 社区一体化, 这里是旅行爱好者的大本营
        </p>
    </div>
    <hr>
    <div class="welcome_footer">
        <h3>
            分享
        </h3>
        <p>
            不知你是否也有这样的感受, 通过分享自己的旅行经验, 美食图片 . 美景图片 你遇到了很多志同道合的人, 有些是那么一瞬间, 有些则成为了你一生的朋友, 甚至你的另一伴.
        </p>
    </div>
    <hr>
    <div class="welcome_footer" style="color: forestgreen;">
        <h3>
            交流
        </h3>
        <p>
            不知你是否也有这样的感受, 通过分享交流, 你学到了很多,懂得了什么不必做,什么必须做, 交流让你的旅行变的更加顺利和精彩.
        </p>
    </div>
    <hr>
    <div class="welcome_footer">
        <h3>
            寻找伙伴
        </h3>
        <p>
            不知你是否也有这样的感受, 一个人的路很美, 很精彩, 很充实, 但是如果有个他或她会更好.
        </p>
    </div>
    <hr>
    <div class="welcome_register">
        <div class="welcome_register_btn">
            <a href="#/register">立即注册</a>
        </div>
    </div>

</div>