<div id="shop-list-div">
    <!--<div id="shop-list" ng-repeat="result in shops | filter: searchKeyword">-->
        <div id="buybs_shop-div" ng-repeat="result in shops | filter: searchKeyword">
            <div id="buybs_shop-div-content">
                <div id="buybs_shop-div-name"><span class="span_text-left">铺名: &nbsp;&nbsp;</span><span>{{result.shop_name?result.shop_name:"暂时为空"}}</span></div>
                <br/>
                <div id="buybs_shop-div-type"><span class="span_text-left">店铺: &nbsp;&nbsp;</span><span>{{result.shop_type?result.shop_type:"暂时为空"}}</span></div>
                <br/>
                <div id="buybs_shop-div-Address"><span class="span_text-left">地址: &nbsp;&nbsp;</span>{{result.shop_address?result.shop_address:"暂时为空"}}</div>
                <br/>
                <div id="buybs_shop-div-sells"><span class="span_text-left">主营: &nbsp;&nbsp;</span>{{result.sells?result.sells:"暂时为空"}}</div>
                <br/><br/>
                <a href="#/shops/{{result.shop_name}}" id="show_product" class="show_product">查看产品</a><br>
                <div>
                    <span class="span_text-left"><i class="star-rating stars-4">4 Star Hotel</i></span>
                    <span style="float: right">访问: 12</span>
                </div>
            </div>
        <!--</div>-->
    </div>
    <div id="bottom-div"></div>
</div>