<div id="search">
    <button class="search_country" ng-repeat="country in countries">
        <a ng-click="countryFilter(this,country.c_name)">{{country.c_name}}</a></button>
</div>
<div id="footstep_list-div">
        <div id="footstep_div" ng-repeat="result in footsteps" >
            <div class="footstep_div-pic">
                <img src="{{result.fs_pic}}">
            </div>
            <div class="footstep_div-des">
                <div>
                    <p>{{result.fs_des}}</p>
                    <p>{{result.fs_from}}</p>
                    <div>
                        <button class="stick_footstep">踩一脚</button>&nbsp;&nbsp;{{result.sticks}}
                        <button class="like_footstep">喜欢</button>&nbsp;&nbsp;{{result.likes}}
                    </div>
                </div>
            </div>
            <div class="footstep_div-comment">
                    <div class="footstep_div-comment-avatar">
                        <img src="{{result.u_avatar}}">
                    </div>
                    <div>
                    <div>{{result.u_name}}</div>
                    <div>{{result.cm_content}}</div>
                    </div>
            </div>
    </div>
    <div id="bottom-div"></div>
</div>