<div id="shop-detail">

    <div id="shop_info-title">
        <span id="shop_detail-back"><a href="#/shops">返回</a></span>
        店铺名称: {{result[0].shop_name}}
        <br><br>店铺类型: {{result[0].shop_type}}
        <br><br>店铺地址: {{result[0].shop_address}}
        <br><br>主营: {{result[0].sells}}
    </div>
    <hr>
    <div id="register_shop-product" ng-repeat="image in result[0].images">
        <div id="register_shop-product-image" style="background-image: url({{image.url}})">
            <span id="shop_image-price">{{image.price}}</span>
        </div>
        
        <div>{{image.desc}}</div>
    </div>

</div>
