<div class="homepage">
    <div class="homepage-panel">
        <div class="homepage-panel-header">
            <div>
                Your ideas, feedbacks, complains are important to this company
            </div>
            <div>
                The tool you're using! the policies we have! the services we're building! and so much more
                we need you
            </div>
        </div>
        <div class="homepage-panel-select">
            <div>
                <a>To Contribute!</a>
            </div>
            <div>
                <a>I owns a project!</a>
            </div>
        </div>
    </div>

</div>