
<div class="login">
    <div class="login-panel">
        <form method="POST" ng-submit="submit()">
            <div class="login-panel-header">
                <div>
                    Login with your LDAP account
                </div>
                <div>
                    Please remove your account suffix @unity3d.com and only use your username as the name
                </div>
            </div>
            <div class="login-panel-name">
                <label>Name</label>
                <input type="text">
            </div>
            <div class="login-panel-password">
                <label>Password</label>
                <input type="password">
            </div>
            <div class="login-panel-submit">
                <input type="submit" value="LOGIN">
            </div>
        </form>
    </div>
</div>