    div(ng-controller='shopListCtrl')
        li( id="shop-list" ng-repeat='result in shops | filter: searchKeyword')
            #buybs_shop-div
                #buybs_shop-div-content
                    #buybs_shop-div-name
                        | {{result.shop_name}}
                    br
                    #buybs_shop-div-type
                        | {{result.shop_type}}
                    br
                    #buybs_shop-div-Address
                        | {{result.shop_address}}
                    br
                    #buybs_shop-div-sells
                        | 主营: {{result.sells}}
                    br
                    br
                    a(href="#/shops/{{result._id}}" class="show_product" id="show_product") 产品展示