<div class="foot_wrapper">

    <div class="foot_wrapper-main">
        <div class="foot_wrapper-back">
            <a href="" ng-click="backHome()">
                <span class="foot_wrapper-back_close">X</span>
            </a>
            <!--<hr>-->
        </div>
        <div>
            <div>
                <button class="stick_footstep" style="cursor: not-allowed;" ng-click="stickBtn(foot.fs_id)">收藏</button>&nbsp;&nbsp;{{foot.sticks}}
                <button class="like_footstep" style="cursor: not-allowed;" ng-click="likeBtn(foot.fs_id)">喜欢</button>&nbsp;&nbsp;{{foot.likes}}
            </div>
            <hr>
            <p>{{foot.fs_des}}</p>
        </div>
        <div class="footstep_div-pic">
            <zoom ng-if="zoom == true" window-size="{{windowSize}}" mark-height="100" mark-width="100" ng-src="{{trustSrc(foot.fs_bigImg)}}" zoom-lvl="{{4}}"></zoom>
            <img ng-if="zoom == false" ng-src="{{foot.fs_bigImg}}" style="width: 100%; height: 100%; cursor: zoom-in;">
        </div>
        <div class="foot_wrapper-main_profile">
            <p>迹客: {{foot.u_name}}</p>
            <div class="foot_wrapper-main_profile-slogan">
                {{foot.u_slogan}} <button class="foot_wrapper-main_follow" ng-click="followUpBtn(foot.u_id)">关注</button>
            </div>
            <hr>
        </div>
        <div>
            <p>评论: {{foot.comments}}</p>
            <hr>

            <div class="foot_wrapper-main_comment" ng-repeat="comment in comments">
                <div class="footstep-list-div-comment-avatar">
                    <img ng-src="{{comment.u_avatar}}" class="footstep-list-div-comment-avatar-img">
                </div>
                <div class="foot_wrapper-main_comment-content">
                    <div class="foot_wrapper-main_comment-from">来自: {{comment.u_name}}</div>
                    <div ng-bind-html="renderHtml(comment.cm_content)"></div>
                </div>
            </div>
            <hr>
            <div>
                <form ng-submit="submit()" method="POST">
                    <div class="topic_content_reply" style="margin-top: 10px;">
                        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                        <button class="foot_wrapper-main_comment-add" type="submit" >评论</button>
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            CKEDITOR.replace( 'editor1' );
                        </script>
                    </div>


                </form>
            </div>
            <hr>
            <div class="foot_wrapper-main_follower">
                都有谁收藏<hr>
                <div class="foot_wrapper-main_follower-img" ng-repeat="stick in sticks">
                    <div class="footstep-list-div-comment-avatar">
                        <img ng-src="{{stick.u_avatar?stick.u_avatar:'../img/default_icon.png'}}"  class="footstep-list-div-comment-avatar-img" title="{{stick.u_name}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="foot_wrapper-main_distance"></div>

    </div>
</div>
