
<div class="explore">
    <!--<div class="explore_sel">探索</div>-->
    <div id="navigation">
        <button class="navigation-country" ng-repeat="country in countries">
            <a ng-click="countryFilter(this,country.c_name)">{{country.c_name}}</a></button>
    </div>
</div>


<!--<div class="footstep-count"> <span class="footstep-layout">全屏显示</span>{{number}}足迹</div>-->
<div id="footstep-list" class="footstep_list_home" infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-disabled="isbusy" infinite-scroll-immediate-check="false">

    <div id="footstep-list-div" class="footstep-list-div " ng-repeat="result in footsteps" ng-mouseleave="bgColorRemove($event)" ng-mouseenter="bgColorChange($event)">
            <div class="footstep-list-div-pic" ng-click="loginCheck(result.fs_id)">
                <!--<a href="#/foot/{{result.fs_id}}">-->
                    <img ng-src="{{result.fs_smallImg}}" style="border-radius: 2%; width: 100%; height: 100%; min-height: 200px; cursor: zoom-in;">
                <!--</a>-->
            </div>
            <span class="footstep-list-div-createTime">{{result.fs_create_time | date: 'yyyy-MM-dd HH:mm'}}</span>
            <!--<hr>-->
            <div class="footstep-list-div-desc">
                <div>
                    <p>{{result.fs_des}}</p>
                    <p style="color: grey;">{{result.fs_from}}</p>
                    <span>
                        <button class="stick-footstep btnStick{{result.fs_id}}"  style={{result.stick_status==1?"background-color:darkgrey;":""}} ng-click="stickBtn(result.fs_id, result.u_id)">收藏</button>&nbsp;&nbsp;<span class="btnStickNum{{result.fs_id}}">{{result.sticks}}</span>
                        <button class="like-footstep btnLike{{result.fs_id}}" style={{result.like_status==1?"background-color:darkgrey;":""}} ng-click="likeBtn(result.fs_id, result.u_id)">喜欢</button>&nbsp;&nbsp;<span class="btnLikeNum{{result.fs_id}}">{{result.likes}}</span>
                    </span>
                </div>
            </div>

            <div class="footstep-list-div-comment" ng-if="result.cm_content">
                    <div class="footstep-list-div-comment-avatar">
                        <img ng-src="{{result.u_avatar}}" class="footstep-list-div-comment-avatar-img">
                    </div>
                    <div>
                        <div>{{result.u_name}}</div>
                        <div class="footstep-list-div-comment-content" ng-bind-html="result.cm_content"></div>
                    </div>
            </div>
        </div>
        <div class="footstep-list_end"></div>

</div>

<div id="bottom-div"></div>