<div class="create_footstep">
    <div class="create_footstep-info">
        <form ng-submit="submit()" method="POST">
            <div id="create_footstep-info-header">创建足迹<span id="create_footstep-info-header-del" ng-click="closeBtn()">X</span></div>
            <!--<img id="create_footstep-info-image" ng-src="{{uploadUrl}}">-->
            <hr>
            <div id="create_footstep-info-image">
                <input type="file" class="imageName-btn" onchange="angular.element(this).scope().uploadFile(this)" id="imageName-btn" name="imageName"/>
            </div>

            <hr>
            <!--<div class="create_footstep-info-div">-->
            <!--<span class="create_footstep-info-span">地址</span><input class="create_footstep-info-pic" type="text" ng-model="footstep.fs_pic" name="imagePrice1" id="register_shop-href" value=""/>-->
            <!--</div>-->
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_smallImg" id="upload_smallImg-href">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_bigImg" id="upload_bigImg-href">
            <div  class="create_footstep-info-div">
                <span class="create_footstep-info-span">描述</span>
                <textarea ng-model="footstep.fs_desc" class="create_footstep-info-desc" rows="3" cols="40"></textarea>
                <!--<input type="text" ng-model="footstep.fs_desc" name="imagePrice1" value=""/>-->
            </div>

            <br/>
            <div>
                <span class="create_footstep-info-span">来自</span>
                <select class="create_footstep-info-from" ng-model="footstep.fs_from">
                    <option ng-repeat="country in countries">{{country.c_name}}</option>
                    <!--<option ng-model="footstep.fs_from">印度</option>-->
                </select>
            </div>
            <br/>
            <input type="submit" id="footstep_form-submit" value="创建">
        </form>
    </div>
</div>