doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/server/jquery.min.js')
    script(src='/js/server/backend.js')
  body
    block content
