body {
  display: none;
}
a {
  color: black;
}
.header {
  height: 60px;
  margin: 5px 5%;
  border-bottom: solid 1px silver;
}
.header .header-icon {
  width: 30px;
  float: left;
}
.header .header-icon img {
  width: 30px;
}
.header .header-navigation {
  float: left;
  padding: 10px 10px 10px 20px;
}
.header .header-account {
  float: right;
  padding: 10px 20px;
}
.header .header-account .user-avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.header span {
  cursor: pointer;
}
.footer {
  height: 35px;
  width: 100%;
  float: left;
  line-height: 2;
  padding: 0px 5%;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  background-color: lightgray;
}
.messenger {
  position: fixed;
  margin-left: 70%;
  width: 30%;
  background-color: white;
  border: solid 1px silver;
  padding: 5px;
  display: none;
}
.messenger .messenger-title {
  border-bottom: solid 1px silver;
  height: 25px;
}
.messenger .messenger-title span {
  cursor: pointer;
  float: right;
}
.messenger .messenger-title .messenger-title-to {
  float: inherit;
}
.messenger .messenger-conversion {
  height: 120px;
}
.messenger .messenger-conversion .messenger-conversion-words {
  padding: 5px 0px;
}
.messenger .messenger-msg {
  padding: 5px 0px;
}
.messenger .messenger-msg .messenger-msg-content {
  padding: 10px 0px;
}
