<div class="stone">
    <div class="stone_detail">
        <div class="stone_detail_close">
            <a href="" ng-click="backHome()">
                <span>返回</span>
            </a>
        </div>
        <div class="stone_detail_close" ng-if="!checkUser(stone.u_id)"> <a href=""  ng-click="replyMsg(stone.u_name)"><span>私信</span></a></div>
        <div class="stone_detail_img">
            <img ng-src="{{stone.s_pic}}" style="width: 100%; height: 100%; cursor: zoom-in;">
        </div>
        <div>
            <p>{{stone.s_description}}</p>
        </div>
    </div>
</div>
