
<div class="home" ng-controller="HomeCtrl">

    <div class="home-top">
        <!-- Dealers recommendation  -->
        <div class="home-top-nav">
            <div class="home-top-nav-wrap">
            <div class="home-top-nav-pic" ng-repeat="user in users">
                <div class="home-top-nav-pic-img">
                    <img ng-if="user.u_avatar" ng-src="{{user.u_avatar}}">
                    <img ng-if="!user.u_avatar" src="images/icon/youtu.png">
                </div>
                <div class="home-top-nav-pic-desc">
                    {{user.u_name?user.u_name:'么有'}}
                </div>
            </div>
            </div>
            <div class="home-top-nav-public" style="color: red; font-size: 26px;">
                私信店主了解宝石更多信息 - 店主可安排见面看货哦!
            </div>

        </div>

        <div class="home-top-msg">
            <div class="home-top-msg-content">Dealer xxx 于 Buyers xxx 线下完成了交易 2016-08-21 22:44:33</div>
            <div class="home-top-msg-content">Dealer xxx 于 Buyers xxx 线下完成了交易 2016-08-21 22:44:33</div>
            <div class="home-top-msg-content">Dealer xxx 于 Buyers xxx 线下完成了交易 2016-08-21 22:44:33</div>
            <div class="home-top-msg-content">Dealer xxx 于 Buyers xxx 线下完成了交易 2016-08-21 22:44:33</div>
        </div>
    </div>


    <div class="home-middle">
        <div class="home-middle-stone" ng-repeat="result in stones">
            <div class="home-middle-stone-pic">
                <div class="home-middle-stone-pic-img" ng-click="stoneDetail(result.s_id)">
                    <img ng-src="{{result.s_present}}">
                </div>
                <div class="home-middle-stone-pic-desc">
                    {{result.s_description}}
                </div>
            </div>
            <div class="home-middle-stone-dealer">
                <div class="home-middle-stone-dealer-img">
                    <img ng-src="{{result.u_avatar}}">
                </div>
                <div class="home-middle-stone-dealer-contact">
                    <button ng-if="!checkUser(result.u_id)" ng-click="messenger(result.u_id,result.u_name)">私信</button>
                </div>
            </div>
        </div>

    </div>





</div>