.homepage {
  margin: 5px 5%;
}
.homepage .homepage-panel {
  width: 600px;
  margin: auto;
}
.homepage .homepage-panel .homepage-panel-header div {
  text-align: center;
}
.homepage .homepage-panel .homepage-panel-select div {
  text-align: center;
  margin-top: 20px;
  padding: 0px 20% 0px 20%;
}
