#navigation {
  float: left;
  width: 100%;
  padding: 10px 20% 10px 20%;
  background-color: white;
}
#navigation .navigation-country {
  margin: 5px;
}
.footstep_list_home {
  min-height: 600px;
  padding: 0px 20% 0px 20%;
  z-index: 2;
}
.footstep_list_profile {
  width: 100%;
  float: left;
  min-height: 600px;
}
.footstep-count {
  font-size: 12px;
  color: gray;
  position: absolute;
  margin: 120px 0% 20px 20%;
}
.footstep-layout {
  padding: 0px 10px;
  background-color: #eee;
  margin: 0px 10px;
  cursor: pointer;
}
#footstep-list .footstep-list_end,
#footstep-list .footstep-list_profile_end {
  padding-right: 40%;
  height: 100px;
  position: absolute;
  color: grey;
  bottom: 0;
  text-align: center;
  line-height: 3;
  font-size: 14px;
  width: 100%;
}
#footstep-list .footstep-list-div {
  float: left;
  border: solid 1px lightgrey;
  border-radius: 6px;
  margin: 10px 1.6% 0px 1.6%;
  width: 30%;
  top: 200px;
}
#footstep-list .footstep-list-div-pic {
  min-height: 100px;
}
#footstep-list .footstep-list-div-createTime {
  font-size: 11px;
  padding: 10px;
  color: grey;
}
#footstep-list .footstep-list-div-desc {
  padding: 10px;
  word-wrap: break-word;
}
#footstep-list .footstep-list-div-comment {
  line-height: 15px;
  padding: 10px;
  position: relative;
  font-size: 12px;
  font-family: cursive;
}
.footstep-list-div-comment-avatar {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 60px;
  float: left;
}
.footstep-list-div-comment-avatar-img {
  height: 30px;
  width: 35px;
  border-radius: 12px;
}
