<div class="welcome">
    <div class="welcome_header">
        <h3>
            The home for all your photos
        </h3>
        <p>
            Upload, access, organize, edit, and share your photos with everyone in the world
        </p>
    </div>
    <div class="welcome_middle">
        <div class="welcome_middle_div" style="background-image: url(/app/img/wel-mid1.jpg);">
            <h3>
                Never delete a photo again
            </h3>
            <p>
                Get 10 GB of free photo storage. We'll even help you automatically backup your entire collection.
            </p>
        </div>
        <div class="welcome_middle_div" style="background-image: url(/app/img/wel-mid2.jpg);">
            <h3>
                Your photos from anywhere
            </h3>
            <p>
                Wherever you go your photos will follow you. See, edit, and share with everyone in the world
            </p>
        </div>
        <div class="welcome_middle_div" style="background-image: url(/app/img/wel-mid3.jpg);">
            <h3>
                A quantum leap in search
            </h3>
            <p>
                We've make strides with photo search. It's now the fastests, easiest way to find the exact photo you want.
            </p>
        </div>
    </div>
    <div class="welcome_footer">
        <h3>
            Breath-taking inspiration
        </h3>
        <p>
            Find beautiful photos shared by a community of amasteur and professional photographers.
        </p>
    </div>
    <div class="welcome_register">
        <div class="welcome_register_btn">
            <a href="#/register">立即注册</a>
        </div>
    </div>

</div>