#login-popup {
  width: 400px;
  margin-top: 50px;
  margin-left: 5%;
}
#login-popup .login-popup-header {
  width: 100%;
  line-height: 3;
  font-size: 24px;
  color: grey;
}
#login-popup .login-popup-register {
  height: 30px;
  margin-left: 25px;
  font-size: 16px;
}
#login-popup .login-popup-header-del {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
#login-popup .login-popup-form .login-popup-form-phoneNumber,
#login-popup .login-popup-form .login-popup-form-password {
  padding: 10px;
  width: 200px;
  margin: 10px 0px 0px 10px;
}
#login-popup .login-popup-form .login-popup-form-password {
  margin-left: 25px;
  margin-bottom: 10px;
}
#login-popup .login-popup-form .login-popup-form-invalid {
  color: red;
  padding: 10px;
  font-size: 12px;
  display: none;
}
#login-popup .login-popup-form .login-popup-form-submit {
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgrey;
}
