
<div id="register-form">
    <div class="register_title">注册</div>
    <form id="register_form" name="register_form-div" ng-submit="submit()" method="POST">
        手机号<input ng-minlength="11" type="text" name="phoneNumber" ng-model="user.phoneNumber" id="register-form-phoneNumber" value="" required/><span>*</span>
        <br/>
        用户名<input type="text" name="username" ng-model="user.username" id="register-form-username" value="" required/><span>*</span>
        <br/>
        密码<input type="password" ng-model="user.password" id="register-form-password" name="password" value="" required/><span>*</span>
        <br/>
        验证码<input type="text" ng-model="user.scCode" name="scCode" id="register-form-scCode" required/>
        <!--<input type="button" ng-click="sendVerifyCode()" value="获取验证码" id="register_form-scCode-btn"/>-->
        <a href="javascript:;" class="sendScCode" ng-click="sendVerifyCode()">获取验证码</a>
        <br/><!--input(type='checkbox')接受并同意<<宝石网协议>>-->
        <input type="submit" id="register-form-submit" value="注册"/>
    </form>
</div>