
.welcome {
  margin: 50px 10%;
  .welcome_header {
    height: 600px;
    padding: 10%;
    color: white;
    background-image: url(../../img/wel-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -120px;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .welcome_middle {
    height: 290px;
    .welcome_middle_div {
      width: 33.33%;
      float: left;
      height: 300px;
      padding: 100px 0px 100px 0px;
      background-repeat: no-repeat;
      background-size: contain;
      color: white;
    }
  }
  hr {
    height: 2px;
    background-color: #eeeeee;
  }
  .welcome_footer {
    height: 400px;
    padding: 10%;
    font-size: 18px;
    color: grey;
    background-color: #eeeeee;
  }
  .welcome_register {
    height: 400px;
    text-align: center;
    padding: 180px 38%;
    font-size: 36px;
    .welcome_register_btn {
      background-color: black;
      color: white;
    }
    a {
      color: white;
    }
  }
}