.welcome {
  padding: 50px 10%;
  height: 760px;
}
.welcome .welcome_header {
  height: 760px;
  padding: 10%;
  color: white;
  background-image: url(http://o99spo2ev.bkt.clouddn.com/wel-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -120px;
}
.welcome h3 {
  text-align: center;
}
.welcome .swiper-container {
  width: 100%;
  height: 760px;
}
.welcome .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.welcome .swiper-slide .wel_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -120px;
  height: 760px;
  width: 100%;
  padding: 10% 26% 10% 9%;
  color: white;
}
.welcome .swiper-slide .wel_image h3 {
  text-align: center;
}
.welcome .swiper-slide .wel_image p {
  text-align: center;
}
.wel_register {
  position: absolute;
  top: 300px;
  right: 5%;
  font-size: 28px;
  background-color: white;
  border-radius: 5%;
  padding: 5px 20px;
}
